<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    position="end"
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>
      <mat-icon>person</mat-icon>
      {{ (user$ | async)?.displayName ?? "Please sign in" }}</mat-toolbar
    >
    <mat-nav-list>
      <!-- (Mobile) sidebar -->
      <a mat-list-item routerLink="/" (click)="drawer.close()">🏠 Home</a>
      <a mat-list-item routerLink="/recipes" (click)="drawer.close()"
        >📝 Recipes</a
      >
      <a mat-list-item appGoogleSignin *ngIf="!(user$ | async)"
        ><img width="20" src="/assets/google-logo.svg" /> Google signin</a
      >
      <a
        mat-list-item
        routerLink="/profile"
        (click)="drawer.close()"
        *ngIf="user$ | async"
      >
        😃 Profile
      </a>

      <a mat-list-item appSignout *ngIf="user$ | async"> 🚶 Logout </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <span class="logo" routerLink="/">📖 Recipe Managment</span>

      <span class="fill-space"></span>
      <!-- (Desktop) items -->
      <div *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/recipes">📝 Recipes</a>
        <button
          *ngIf="!(user$ | async)"
          mat-button
          [matMenuTriggerFor]="account_menu"
        >
          <span>Login</span>
          <mat-icon>manage_accounts</mat-icon>
        </button>

        <a mat-button *ngIf="user$ | async" routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>{{ (user$ | async)!.displayName }}</span>
        </a>
      </div>
      <!-- (Mobile) hamburger -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-menu #account_menu="matMenu">
        <!-- (Desktop) menu -->
        <button *ngIf="!(user$ | async)" mat-menu-item appGoogleSignin>
          <img width="20" src="/assets/google-logo.svg" />Google signin
        </button>
      </mat-menu>
    </mat-toolbar>

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
