/* styles.css */

.page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: left;
}

ul,
ol {
  text-align: left;
  margin-left: 40px;
}

li {
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button {
  font-size: 1.2rem;
}

.title {
  line-height: 1.2em;
}
