<ng-container *ngIf="recipe$ | async as recipe">
  <mat-card class="recipe-card">
    <mat-card-header>
      <mat-card-title>{{ recipe.title }}</mat-card-title>
      <mat-card-subtitle>By {{ recipe.authorName }}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image [src]="recipe.imageUrl" alt="{{ recipe.title }}" /> -->
    <mat-card-content>
      <div
        *ngIf="recipe.imageUrl"
        [ngStyle]="{ backgroundImage: 'url(' + recipe.imageUrl + ')' }"
        class="overlay"
      ></div>
      <markdown>{{ recipe.description.replaceAll("\\n", "\n") }}</markdown>
      <h3>Ingredients</h3>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item *ngFor="let ingredient of recipe.ingredients">
          <h4 mat-line>- {{ ingredient.name }}: {{ ingredient.amount }}</h4>
        </mat-list-item>
      </mat-list>
      <h3>Instructions</h3>
      <mat-divider></mat-divider>
      <markdown>{{ recipe.instructions.replaceAll("\\n", "\n") }}</markdown>
    </mat-card-content>
    <mat-card-actions *ngIf="recipe.authorId === (user$ | async)?.uid">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/recipes', recipe.id, 'edit']"
      >
        Edit Recipe
      </button>
      <button mat-raised-button color="warn" (click)="deleteRecipe()">
        Delete Recipe
      </button>
    </mat-card-actions>
  </mat-card>
</ng-container>
