<ng-container *ngIf="recipe$ | async as recipe">
  <mat-card class="recipe-card">
    <mat-card-header>
      <mat-card-title>{{ recipe.title }}</mat-card-title>
      <mat-card-subtitle>By {{ recipe.authorName }}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image [src]="recipe.imageUrl" alt="{{ recipe.title }}" /> -->
    <mat-card-content>
      <div
        *ngIf="recipe.imageUrl"
        [ngStyle]="{ backgroundImage: 'url(' + recipe.imageUrl + ')' }"
        class="overlay"
      ></div>
      <markdown>{{ recipe.description.replaceAll("\\n", "\n") }}</markdown>
      <h3>Ingredients</h3>
      <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item *ngFor="let ingredient of recipe.ingredients">
          <h4 mat-line>- {{ ingredient.name }}: {{ ingredient.amount }}</h4>
        </mat-list-item>
      </mat-list>
      <h3>Instructions</h3>
      <mat-divider></mat-divider>
      <markdown>{{ recipe.instructions.replaceAll("\\n", "\n") }}</markdown>
    </mat-card-content>
    <mat-card-actions *ngIf="recipe.authorId === (user$ | async)?.uid">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/recipes', recipe.id, 'edit']"
      >
        Edit Recipe
      </button>
      <button mat-raised-button color="warn" (click)="deleteRecipe()">
        Delete Recipe
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="comment-section">
    <h2 class="section-title">Comments</h2>

    <form
      class="comment-form"
      [formGroup]="commentForm"
      (ngSubmit)="addComment()"
    >
      <mat-form-field appearance="fill">
        <mat-label>Add a comment</mat-label>
        <textarea
          matInput
          formControlName="content"
          required
          maxlength="300"
        ></textarea>
        <mat-hint align="end">
          {{ commentForm.get("content")!.value?.length || 0 }}/300
        </mat-hint>
        <mat-error *ngIf="commentForm.invalid"
          >Comment is required (max. 300 characters)</mat-error
        >
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="commentForm.invalid"
      >
        <mat-icon>add_comment</mat-icon>
        Post Comment
      </button>
    </form>

    <div class="comment-list">
      <ng-container *ngIf="recipe.comments.length != 0; else noComments">
        <mat-list>
          <mat-list-item *ngFor="let comment of recipe.comments" class="asd">
            <div class="comment">
              <img
                src="https://1.gravatar.com/avatar/be8819126bd50fa16210bc5dd249beb2?s=360"
                alt="{{ comment.authorName }} avatar"
                class="avatar"
              />
              <div class="details">
                <h4 class="author-name">{{ comment.authorName }}</h4>
                <p class="comment-text">{{ comment.comment }}</p>
                <p class="timestamp">{{ comment.createdAt | relativeDate }}</p>
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </ng-container>
      <ng-template #noComments>
        <p class="no-comments mat-body-1">No comments yet.</p>
      </ng-template>
    </div>
  </mat-card>
</ng-container>
